
body {
    background-color: #FFFCF4; 
  /* background-color: #f5c359;  */
}
.assunto {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


form{
    margin: auto;
    border: 1px rgb(155, 155, 155);
    border-radius: 6px;
    box-shadow: 2px 2px 10px rgb(172, 172, 172);
    width: 35%;
    height: 90%;
    padding: 60px;
    background-color: rgb(252, 225, 167);
    color: rgb(218, 112, 13);
}

form input{
    padding: 12px;
    border-radius: 10px;
    border: solid 1px rgb(192, 120, 12);
}
.img-container{
    text-align: center;
    margin: 25px;
}
.padd-10{
    padding-top: 10px;
}
.wid-100{
    width: 100%;
}
.center{
    text-align: center;
}
#nome, #email, #celular, textarea{
    width: 100%;
}
textarea{
    margin-top: 20px;
    border-radius: 10px;
    border: solid 1px rgb(192, 120, 12);
    padding: 10px;

}

button{
    background-color: rgb(223, 139, 29);
    color: rgb(245, 245, 238);
    border: 0px;
    border-radius: 2px;
    padding: 9px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

.nomeEmail{
    display: block;
    margin: auto;
}

a{
    text-decoration: none;
}


