@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family-primary: "Plus Jakarta Sans", sans-serif;
  --primary-color: #f79424;
  --secondary-color: #eb8f27;
  --tertiary-color: #e7cc6b;
  --quaternary-color: #f3f1f0;
  --quinary-color: #39394a;
  --senary-color: #121229;
  --octonary-color: #67b0cf;
  --bottun-hover-dark: #394d64;
  --letter-spacing: 0.8px;
  --margin-primary: 11.5rem;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  
}

/* Cor de fundo do scroll */
::-webkit-scrollbar {
  background-color: #f5f5f5; 
  width: 15px;
}
/* Cor da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color); 
  height: 200px;
}

body {
  font-family: var(--font-family-primary);
  background-color: var(--tertiary-color);
  color: var(--quaternary-color);

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

img:not(header h1 a img) {
  max-width: 100%;
}

button {
  cursor: pointer;
}

.limitador {
  margin: 0 auto;
  max-width: 1200px;
  width: calc(
    100% - 100px
  ); /* a largura é a largura total menos 100px (50px para cada lado) */
}
.limitador1{
  width: 95vw;
  margin: auto;
}



/* Menu */
header{
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 11px;
}

.info-bg {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--primary-color);
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 70%;
}

.icone {
  display: none;
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.menu li {
  font-weight: 500;
  font-size: 1.8rem;
  width: 100%;
}

.menu a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  transition: 0.3s;
  color: var(--quaternary-color);
}

.menu a:hover,
.menu a:focus {
  background-color: var(--secondary-color);
  color: var(--quaternary-color);
  cursor: url('../img/patinha.png')
  , auto; 
}

/* .destaque{
  background: url(../img/fundo-principal.png);
  background-color: #39394a65;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 75vh;
  padding: 5rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--quaternary-color);
  font-weight: 300;
  font-size: 1.8rem;
}

.destaque p:first-child {
  line-height: 2.5rem;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
}

.destaque h2 {
  font-size: clamp(2rem, 10vw, 6rem);
  max-width: 735px;
  margin: 24px 0;
  text-shadow: var(--secondary-color) 1px 1px;
  
}

.destaque p:last-of-type {
  line-height: var(--line-height-secondary);
  letter-spacing: var(--letter-spacing);
  max-width: 1000px;
  line-height: 3rem;
}
.destaque a{
  background: rgb(254,151,31);
  background: linear-gradient(186deg, rgba(254,151,31,1) 7%, rgba(255,187,72,1) 90%);
  display: inline-block;
  font-weight: bold;
  border-radius: 25px;
  color: #f5f3ed;
  text-decoration: none;
  padding:  15px 25px;
  border: none;
  margin-top: 30px;
  color: var(--quaternary-color);
  height: 48px;
  letter-spacing: var(--letter-spacing);
} */

/*    SLIDER    */

:after,
:before,
*{
    box-sizing: border-box;
}
.container {
  width:1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
h2 {
      line-height:1.1;
}
.hero-slider {
  width: 100%;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 0;
}

@media (max-width: 991px) {
  .hero-slider {
    height: 600px;
  }
}

@media (max-width: 767px) {
  .hero-slider {
    height: 500px;
  }
}

.hero-slider .swiper-slide {
  overflow: hidden;
  color: #fff;
}

.hero-slider .swiper-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.hero-slider .slide-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.hero-slider .swiper-button-prev,
.hero-slider .swiper-button-next {
  background: transparent;
  width: 55px;
  height: 55px;
  line-height: 53px;
  margin-top: -30px;
  text-align: center;
  border: 2px solid #d4d3d3;
  border-radius: 55px;
  opacity:0;
  visibility:hidden;
  transition:all .3s ease;
}
.hero-slider:hover .swiper-button-prev,
.hero-slider:hover .swiper-button-next {
  transform:translateX(0);
  opacity:1;
  visibility:visible;
}

@media (max-width: 767px) {
  .hero-slider .swiper-button-prev,
  .hero-slider .swiper-button-next {
    display: none;
  }
}

.hero-slider .swiper-button-prev {
  left: 25px;
  transform:translateX(50px);
}

.hero-slider .swiper-button-prev:before {
  font-family: "Font Awesome 5 Free";
  content: "\f060";
  font-size: 15px;
  color: #d4d3d3;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
}

.hero-slider .swiper-button-next {
  right: 25px;
  transform:translateX(-50px);
}

.hero-slider .swiper-button-next:before {
  font-family: "Font Awesome 5 Free";
  content: "\f061";
  font-size: 15px;
  color: #d4d3d3;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
}

.hero-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  text-align: left;
  line-height: 12px;
  font-size: 12px;
  color: #000;
  opacity: 0.3;
  background:#fff;
  transition:all .2s ease;
}

.hero-slider .swiper-pagination-bullet-active {
  opacity:1;
}

.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.hero-slider .swiper-pagination-custom,
.hero-slider .swiper-pagination-fraction {
  bottom: 30px;
}

@media screen and (min-width: 992px) {
  .hero-slider .swiper-container-horizontal > .swiper-pagination-bullets,
  .hero-slider .swiper-pagination-custom,
  .hero-slider .swiper-pagination-fraction {
    /* display: none; */
  }
}
.swiper-pagination {
  text-align:left;
}

.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets{
  bottom:50px;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 767px) {
  .hero-slider .swiper-container-horizontal > .swiper-pagination-bullets{
  bottom:30px;
 
}
}
/*--------------------------------------------------------------
	#hero-style
--------------------------------------------------------------*/
.hero-style {
  height: 560px;
  transition:all .4s ease;
}

@media (max-width: 991px) {
  .hero-style {
    height: 600px;
  }
}



@media screen and (min-width: 992px) {
  .hero-style .container {
    padding-top: 95px;
  }
}

.hero-style .slide-title,
.hero-style .slide-text,
.hero-style .slide-btns {
  max-width: 660px;
}

.hero-style .slide-title h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  margin: 0 0 40px;
  text-transform: capitalize;
  transition:all .4s ease;
  text-shadow: var(--secondary-color) 1px 1px;
}

@media (max-width: 1199px) {
  .hero-style .slide-title h2 {
    font-size: 45px;
  }
}

@media (max-width: 991px) {
  .hero-style .slide-title h2 {
    font-size: 50px;
    margin: 0 0 35px;
  }
}

@media (max-width: 767px) {
  .hero-style .slide-title h2 {
    font-size: 35px;
    margin: 0 0 30px;
  }
}

.hero-style .slide-text p {
  opacity: 0.8;
  font-family: Rajdhani;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
  margin: 0 0 40px;
  transition:all .4s ease;
  text-shadow: var(--secondary-color) 1px 1px;
}

@media (max-width: 767px) {
  .hero-style .slide-text p {
    font-size: 2.1rem;
    font-weight: normal;
    margin: 0 0 30px;
  }
}

.hero-style .slide-btns > a:first-child {
  margin-right: 10px;
}


/*--------------------------------------------------------------
	#button-style
--------------------------------------------------------------*/
.theme-btn, .theme-btn-s2{
    background-color: #ffffff;
    font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  color:#2b3b95;
    padding: 9px 32px;
    border: 0; 
  border-radius: 3px;
    text-transform: uppercase;
    display: inline-block;
    line-height: initial;
  transition:all .4s ease;
}
.hero-slider a {
    text-decoration: none;
    transition: all 0.2s ease;
}
.theme-btn-s2{
    background-color: rgba(255, 255, 255, 0.9);
    color: #1f1603;
}
.theme-btn:hover, .theme-btn-s2:hover, .theme-btn:focus, .theme-btn-s2:focus, .theme-btn:active, .theme-btn-s2:active {
    background: rgb(254,151,31);
    background: linear-gradient(186deg, rgba(254,151,31,1) 7%, rgba(255,187,72,1) 90%);
    color: #fff;
}
.theme-btn-s3{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  text-transform: uppercase;
}
i.fa-chevron-circle-right{
  height:22px;
  width:22px;
}
a:hover {
    text-decoration: none;
}
@media (max-width: 991px){
  .theme-btn, .theme-btn-s2, .theme-btn-s3 {
    font-size: 13px;
    padding: 15px 25px;
  }
}
@media (max-width: 767px){
  .theme-btn, .theme-btn-s2{
    padding: 13px 20px;
    font-size: 13px;
  }
}


.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container > div {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
}




.sobre-ong{
  margin:  10rem auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-shadow: #f5b94b 2px 2px;
  font-size: 2.2rem;
  background-color: #eb9729a6;
  border-radius: 8px;
  width: 99%;
}

.sobre-ong p{
  width: 40%;
}
.sobre-ong img{
  height: 370px;
  width: 380px;
  margin-top: 0;
  margin-right: 6rem;
}


.container-projetos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  width: 73%;
  margin-top: 7.5rem;
  font-size: larger;
  text-align: center;
}

.container-projetos a{
  color: var(--tertiary-color);
  background-color: rgb(248, 248, 248);
  padding: 6px;
  border-radius: 5px;
  margin-top: 9px;
}

.projeto{
  max-width: 240px;
  min-height: 250px;
  padding: 30px;
  box-sizing: border-box;
  margin:20px;
}

.projeto img{
  width : 83px;
  height : 76px;
  margin-bottom: 15px;
}


/* .card1:hover, .card2:hover, .card3:hover, .card4:hover{
  box-shadow: #a7a7a783 0 4px 21px 1px ;
  transform: scale(1.03);
}

.card1:focus, .card2:focus, .card3:focus, .card4:focus{
  transform: scale(1.03);
} */

.container-adote{
  display: flex;
  flex-wrap: wrap;
  height: 54%;
  margin: 88px auto;
}

.container-adote img{
  width: 58%;
}
.container-adote .texto{
  width: 42%;
  background-color: #FFA031;
  padding: 4.5rem;
}

.container-adote .texto h2{
  color: #FFE6B5;
  font-size: 6rem;
}
.container-adote .texto p{
  color: #f3f3f3;
  font-size: 1.9rem;
  margin-top: 2.5rem;
}

footer{
  background-color: var(--primary-color);
}
.container-footer-rotas{
  display: flex;
  justify-content: center;

  width: 75%;
  margin: 2rem auto;
}
footer a{
  text-decoration: none;
  color: var(--quaternary-color);
  list-style: none;
}
footer li{
  list-style: none;
}
footer h3{
  margin-bottom: 1rem ;
}
.footer-atendimento, .footer-plataforma, .footer-mapa{
  width: 21%;
  font-size: 1.4rem;
  margin: 0 3.5rem ;
}
.logo-footer{
  width: 31;
  padding: 0 10rem;
  font-size: 1.5rem;
}
.logo-footer img{
  margin-bottom: 0.6rem;
}

.sub-footer{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.copyright, .redes-sociais{
  flex: 100%;
}




@media screen and (max-width: 1000px) {
  .contato {
    display: block;
  }

  form {
    max-width: 660px;
    margin: 0 auto;
  }

}

@media screen and (max-width: 848px) {
  .icone {
    display: block;
  }

  .menu {
    display: none;
  }

  .menu.aberto {
    display: block;
  }

  .menu.aberto {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    align-items: center;
    position: absolute;
    top: 87px;
    right: 0;
    left: 0;
  }

  .menu.aberto li {
    margin: 0;
  }

  .menu li {
    width: 100%;
  }

  .menu li a {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
  }

  nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .container-adote img{
    width: 100%;
  }
  .container-adote .texto{
    width: 100%;
    font-size: 3rem;
  }

}


@media screen and (max-width: 585px) {
  html {
    font-size: 59%;
  }

  .bem-vindo ul {
    width: 100%;
    flex-direction: column;
}

.bem-vindo ul li {
  width:100%;
}

.nos-escolher-texto article {
  min-width: 268px;
  margin: 2rem;
}

.nos-escolher-conteudo {
  margin-left: 0;
  margin-top: 15px;
  text-align: center;
}
  
}



@media screen and (max-width: 388px) {
  .info-num-adress div:nth-child(1) {
    display: none;
  }

  header {
    background-color: var(--primary-color);
    position: sticky;
    top: 0px;
    z-index: 10;
    padding: 25px 0;
  }
  
  .info-bg {
    position: unset;
    top: unset;
  }

  header h1 a img {
    max-width: 100%;
    min-width: 150px;
  }
}



@media (max-width: 769px) {
  .hero-style{
    height: 500px;
  }
  .sobre-ong{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: center;
  }
  .sobre-ong img{
    max-height: 84px;
    max-width: 83px;
    margin: 5px;
  }
  .sobre-ong p{
    min-width: 85%;
    padding: 30px 0;
    text-align: justify;
  }
  .container-footer-rotas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .logo-footer, .footer-atendimento, .footer-plataforma, .footer-mapa{
    min-width: 100%;
    text-align: center;
    margin: 35px;
  }
  .logo-footer a, .footer-atendimento, .footer-plataforma a, .footer-mapa a{
    font-size: medium;
  }
}