@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family-primary: "Plus Jakarta Sans", sans-serif;
  --primary-color: #e9f0ff;
  --secondary-color: #415da1;
  --tertiary-color: #d5e0fb;
  --quaternary-color: #f4f4f4;
  --quinary-color: #39394a;
  --senary-color: #121229;
  --octonary-color: #67b0cf;
  --bottun-hover-dark: #394d64;
  --letter-spacing: 0.8px;
  --margin-primary: 13rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: #f5f5f5; /* Cor de fundo do scroll */
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #415DA1; /* Cor da barra de rolagem */
  height: 200px;
}

body {
  font-family: var(--font-family-primary);
  background-color: var(--primary-color);
  color: var(--quinary-color);

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

img:not(header h1 a img) {
  max-width: 100%;
}

button {
  cursor: pointer;
}



/* INICIO HOME */

.limitador {
  margin: 0 auto;
  max-width: 1200px;
  width: calc(
    100% - 100px
  ); /* a largura é a largura total menos 100px (50px para cada lado) */
}

.info-bg {
  background-color: var(--secondary-color);
  padding: 15px 0;
  color: var(--quinary-color);
}

.infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-num-adress {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45%;
}

.infos div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



header{
  background-color: #834a09;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 25px 0;
}

.info-bg {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #FF9A24;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 70%;
}

.icone {
  display: none;
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.menu li {
  font-weight: 500;
  font-size: 1.8rem;
  width: 100%;
}

.menu a {
  text-decoration: none;
  color: var(--quinary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  transition: 0.3s;
  color: #faf6f1;
}

.menu a:hover,
.menu a:focus {
  background-color: #f39223;
  color: var(--quaternary-color);
  cursor: url('../img/icons8-pegada-de-cachorro-30.png')
  , auto; 
}

.destaque {
  background: url(../assets/destaque.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 80vh;

  padding: 5rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--quaternary-color);
  font-weight: 300;
  font-size: 1.8rem;
}

.destaque p:first-child {
  line-height: 2.5rem;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
}

.destaque h2 {
  font-size: clamp(2rem, 10vw, 6rem);
  max-width: 735px;
  margin: 24px 0;
}

.destaque p:last-of-type {
  line-height: var(--line-height-secondary);
  letter-spacing: var(--letter-spacing);
  max-width: 1000px;
  line-height: 3rem;
}

.destaque a {
  display: inline-block;
  margin-top: 24px;
  background: #415da1;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 14px 24.72px 14px 23.28px;
  border: none;
  margin-top: 41px;
  text-decoration: none;
  color: var(--quaternary-color);
  height: 48px;
  letter-spacing: var(--letter-spacing);
}




@media screen and (max-width: 1300px) {
  .depoimentos > p {
    margin-left: 0;
  }
}

@media screen and (max-width: 1243px) {
  .servicos-img-texto {
    padding-top: 70px;
  }

  .servicos-cards {
    width: 88%;
    gap: 35px;
  }
  
}

@media screen and (max-width: 1173px) {
  .servicos-img-texto img {
    display: none;
  }

  .bem-vindo-img-texto {
    padding-top: 75px;
  }

  .bem-vindo-img-texto img {
    display: none;
  }

  .bem-vindo-beneficios {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 1050px) {
  .info-num-adress {
    width: 65%;
  }

  .nos-escolher-img {
    display: none;
  }

  .nos-escolher-texto {
    flex-direction: row;
    margin: 0;
  }

  .nos-escolher-texto article {
    flex-direction: column;
  }


}

@media screen and (max-width: 1000px) {
  .contato {
    display: block;
  }

  form {
    max-width: 660px;
    margin: 0 auto;
  }

  .contato-principal iframe {
    margin-top: 4rem;
    margin-left: 0;
    width: 100%;
    height: 300px;
  }

  .depoimentos-cards {
    flex-direction: column;
  }

  .depoimentos-cliente {
    max-width: 320px;
    margin: 35px 0;
  }

  .depoimentos > p {
    text-align: center;
  }

  .nos-escolher-img-texto {
    justify-content: center;

  }

  .nos-escolher-texto {
    flex-direction: column;

  }

  .servicos-img-texto article {
    width: 80%;
}

.separador {
  display: none;
}


}

@media screen and (max-width: 867px) {
  .servicos-cards {
    width: 100%;
  }

  .servicos-img-texto article {
    width: 35%;
  }

  .diferenciais{
    flex-direction: column;
    max-width: 400px;
  }

  .diferenciais-tipo {
    margin: 20px;

  }
}

@media screen and (max-width: 848px) {
  .icone {
    display: block;
  }

  .menu {
    display: none;
  }

  .menu.aberto {
    display: block;
  }

  .menu.aberto {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    align-items: center;
    position: absolute;
    top: 87px;
    right: 0;
    left: 0;
  }

  .menu.aberto li {
    margin: 0;
  }

  .menu li {
    width: 100%;
  }

  .menu li a {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
  }

  nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

}

@media screen and (max-width: 749px) {
  .info-num-adress div:nth-child(3), .info-num-adress div:nth-child(2)  {
    display: none;
  }

}

@media screen and (max-width: 790px) {
  .colunas {
    flex-direction: column;
    margin: 30px;
  }

  .colunas div {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 585px) {
  html {
    font-size: 59%;
  }

  .bem-vindo ul {
    width: 100%;
    flex-direction: column;
}

.bem-vindo ul li {
  width:100%;
}

.nos-escolher-texto article {
  min-width: 268px;
  margin: 2rem;
}

.nos-escolher-conteudo {
  margin-left: 0;
  margin-top: 15px;
  text-align: center;
}
  
}


@media screen and (max-width: 528px) {
  .info-num-adress {
    width: auto; 
  }

  .info-bg {
    position: unset;
    top: unset;
  }

  header {
    top: 0;
  }
}

@media screen and (max-width: 388px) {
  .info-num-adress div:nth-child(1) {
    display: none;
  }

  header {
    background-color: var(--primary-color);
    position: sticky;
    top: 0px;
    z-index: 10;
    padding: 25px 0;
  }
  
  .info-bg {
    position: unset;
    top: unset;
  }

  header h1 a img {
    max-width: 100%;
    min-width: 150px;
  }
}

@media screen and (max-width: 338px) {
  .servicos-img-texto article {
    min-width: 250px;
  }
}
