@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family-primary: "Plus Jakarta Sans", sans-serif;
  --primary-color: #f79424;
  --secondary-color: #eb8f27;
  --tertiary-color: #e7cc6b;
  --quaternary-color: #eeeceb;
  --quinary-color: #39394a;
  --senary-color: #121229;
  --octonary-color: #67b0cf;
  --bottun-hover-dark: #394d64;
  --letter-spacing: 0.8px;
  --margin-primary: 11.5rem;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  width: 100vw;
}

/* Cor de fundo do scroll */
::-webkit-scrollbar {
  background-color: #f5f5f5; 
  width: 15px;
}
/* Cor da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color); 
  height: 200px;
}

body {
  font-family: var(--font-family-primary);
  background-color: var(--tertiary-color);
  color: var(--quaternary-color);

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

img:not(header h1 a img) {
  max-width: 100%;
}

button {
  cursor: pointer;
}

.limitador {
  margin: 0 auto;
  max-width: 1200px;
  width: calc(
    100% - 100px
  ); /* a largura é a largura total menos 100px (50px para cada lado) */
}




header{
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 25px 0;
}

.info-bg {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--primary-color);
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 70%;
}

.icone {
  display: none;
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.menu li {
  font-weight: 500;
  font-size: 1.8rem;
  width: 100%;
}

.menu a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  transition: 0.3s;
  color: var(--quaternary-color);
}

.menu a:hover,
.menu a:focus {
  background-color: var(--secondary-color);
  color: var(--quaternary-color);
  cursor: url('../img/patinha.png')
  , auto; 
}

.destaque{
  background: url(../img/fundo-principal.png);
  background-color: #39394a65;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 75vh;
  padding: 5rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--quaternary-color);
  font-weight: 300;
  font-size: 1.8rem;
}

.destaque p:first-child {
  line-height: 2.5rem;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
}

.destaque h2 {
  font-size: clamp(2rem, 10vw, 6rem);
  max-width: 735px;
  margin: 24px 0;
  text-shadow: var(--secondary-color) 1px 1px;
  
}

.destaque p:last-of-type {
  line-height: var(--line-height-secondary);
  letter-spacing: var(--letter-spacing);
  max-width: 1000px;
  line-height: 3rem;
}
.destaque a{
  background: rgb(254,151,31);
  background: linear-gradient(186deg, rgba(254,151,31,1) 7%, rgba(255,187,72,1) 90%);
  display: inline-block;
  font-weight: bold;
  border-radius: 25px;
  color: #f5f3ed;
  text-decoration: none;
  padding:  15px 25px;
  border: none;
  margin-top: 30px;
  color: var(--quaternary-color);
  height: 48px;
  letter-spacing: var(--letter-spacing);
}
.sobre-ong{
  margin:  10rem auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-shadow: #f5b94b 2px 2px;
  font-size: 2.2rem;
  background-color: #eb9729a6;
  border-radius: 8px;
  width: 99%;
}

.sobre-ong p{
  width: 40%;
}
.sobre-ong img{
  height: 370px;
  width: 380px;
  margin-top: 0;
  margin-right: 8rem;
}


footer{
  background-color: var(--primary-color);
}
.container-footer-rotas{
  display: flex;
  justify-content: center;

  width: 75%;
  margin: 2rem auto;
}
footer a{
  text-decoration: none;
  color: var(--quaternary-color);
  list-style: none;
}
footer li{
  list-style: none;
}
footer h3{
  margin-bottom: 1rem ;
}
.footer-atendimento, .footer-Plataforma, .footer-mapa{
  width: 21%;
  font-size: 1.4rem;
  margin: 0 3.5rem ;
}
.logo-footer{
  width: 31;
  padding: 0 10rem;
  font-size: 1.5rem;
}
.logo-footer img{
  margin-bottom: 0.6rem;
}

.sub-footer{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.copyright, .redes-sociais{
  flex: 100%;
}




@media screen and (max-width: 1000px) {
  .contato {
    display: block;
  }

  form {
    max-width: 660px;
    margin: 0 auto;
  }

}

@media screen and (max-width: 848px) {
  .icone {
    display: block;
  }

  .menu {
    display: none;
  }

  .menu.aberto {
    display: block;
  }

  .menu.aberto {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    align-items: center;
    position: absolute;
    top: 87px;
    right: 0;
    left: 0;
  }

  .menu.aberto li {
    margin: 0;
  }

  .menu li {
    width: 100%;
  }

  .menu li a {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
  }

  nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

}


@media screen and (max-width: 585px) {
  html {
    font-size: 59%;
  }

  .bem-vindo ul {
    width: 100%;
    flex-direction: column;
}

.bem-vindo ul li {
  width:100%;
}

.nos-escolher-texto article {
  min-width: 268px;
  margin: 2rem;
}

.nos-escolher-conteudo {
  margin-left: 0;
  margin-top: 15px;
  text-align: center;
}
  
}



@media screen and (max-width: 388px) {
  .info-num-adress div:nth-child(1) {
    display: none;
  }

  header {
    background-color: var(--primary-color);
    position: sticky;
    top: 0px;
    z-index: 10;
    padding: 25px 0;
  }
  
  .info-bg {
    position: unset;
    top: unset;
  }

  header h1 a img {
    max-width: 100%;
    min-width: 150px;
  }
}

@media screen and (max-width: 338px) {
  .servicos-img-texto article {
    min-width: 250px;
  }
}
